<form id="frmudg">                        
    <div class="mb-3">
        <input type="text" hidden value="{{.}}" id="tid" name="tid">
        <div class="form-floating">
            <input type="text" class="form-control" id="grade" name="grade" placeholder="" required>
            <label for="grade">Grade you currently teach</label>
        </div>
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Update</button>
        <button id="uc" type="button" class="btn btn-info">Cancel</button>
    </div>
</form>